@use '../common/_variable' as variables;

.navbar {
  user-select: none;
  .navbar-collapse {
    .nav-item {
      cursor: pointer;
    }
  }
}

.main-page {
  padding-top: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.lucky-draw-choose-list {
  .lucky-draw-choose-item {
    display: flex;
    border-radius: variables.$spacer * 0.25;
    font-size: variables.$spacer * 1.25;
    .lucky-draw-choose-text {
      flex: 1;
      padding: variables.$spacer * 0.75 variables.$spacer;
      background: variables.$blue-200;
      color: variables.$black;
      &:active {
        background: variables.$blue-600;
      }
    }
  }
}
